nav{
    color: whitesmoke;
}
.navbar-scrolled {
    background-color: #78281F !important;
    background-image: url('../images/landing_bg.jpg');
    transition:0.4s;
    box-shadow: 0 0 10px 2px;
    color: black;
  }  
.navbar.scroll .navbar-col{ 
  color:red;
}
.hero-image{
    background-image: url("../img/header-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    text-align: center;
    color: whitesmoke;
    padding-top: 15%;
    padding-bottom: 20%; 
}
#skills{
    background-color: whitesmoke;
}
#projects{
    background-color: whitesmoke;
}
