nav{
    background-color: whitesmoke;
    color: black;
}
.hero-image{
    background-image: url("../img/header-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    text-align: center;
    color: whitesmoke;
    padding-top: 15%;
    padding-bottom: 20%; 
}
#skills{
    background-color: whitesmoke;
}
#projects{
    background-color: whitesmoke;
}
